{% extends 'base.html' %}

{% block content %}


<div>

 <h2>Dashboard Page</h2>
 <br>
 <p>You are Logged In</p>

<div class="card m-3">
 <p class="font-bold"> Well Come to User Dashboard....</p>
 <p class="card-header mb-3">
 <strong>Name:</strong>{{current_user.name}}<br>
 <strong>Username</strong>{{current_user.username}}<br>
 <strong>User  Id:</strong>{{current_user.id}}<br>
 <strong>Email:</strong>{{current_user.email}}<br>
 <strong>Favorite Color:</strong>{{current_user.favorite_color}}<br>
 <strong>Data joined:</strong>{{current_user.date_added}}<br>
  </p>
 <a href="{{url_for('logout')}}" class="btn btn-secondary w-25 m-1">logout</a>
</div>

</div>

{% endblock %}
