{% extends 'base.html' %}

{% block content %}


<div class="container">
     <h2> Blog Posts...</h2>
  <br>
    {% for post in posts %}
    <h2>{{post.title}}</h2>
    {{post.auther}}<br>
    {{post.slug}}<br>
    {{post.date_posted}}<br>
    {{post.content}}<br>

    <br>
    <a href="{{url_for('post',id=post.id)}}" class="btn btn-outline-secondary mx-2">View Post</a>

    <a href="{{url_for('edit_post',id=post.id)}}"  class="btn btn-outline-secondary mx-2">Edit Post</a>

    <a href="{{ url_for('delete_post', id=post.id)}}"  class="btn btn-outline-danger mx-2">Delete Post</a>
   <hr>
     {% endfor  %}




</div>
{% endblock %}
